.material-symbols-outlined {
    color: rgb(8, 239, 173);
    scale: 1.2;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.task-list__parent {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    width: 92%;
    height: 83%;
    max-height: 85%;
    padding: 35px 0 20px 0;
    bottom: 20px;
    border-radius: 1em;
    border: 3px dotted rgba(8, 239, 173, 0.45);
    background-color: rgb(40, 40, 40);
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;
}

.task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: max-content;
    margin-bottom: auto;
    bottom: 20px;
    border-radius: 1em;
    background-color: rgb(40, 40, 40);
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 10;
}

.task-list:hover {
    overflow-y: auto;
}

.button-open-tabs {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    align-self: flex-start;
    outline: rgba(0, 0, 0, 0.0);
    color: rgb(8, 239, 173);
    border: none;
    cursor: pointer;
    transition: opacity 0.5 ease;
}

.button-open-tabs:hover {
    transition: opacity 0.5 ease;
    opacity: 0.8;
    z-index: 1000;
}

.is-not-tasks__container {
    position: absolute;
    scale: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 10000;
}